In [1]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
#importing dataset
cars = pd.read_csv("mtcars.csv")

In [3]:
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
cars.shape

(32, 12)

In [5]:
#checking null values
cars.isnull().sum()

model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [6]:
#checking colinearity
cars_cor = cars.drop(labels=['am','model'],axis=1)
cars_cor.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0     3     2

In [7]:
cars_cor.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.418684,0.664039,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.583287,0.427606
qsec,0.418684,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.206023,-0.569607
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.656249,-0.569607,0.274073,1.000000

In [8]:
#dropping cyl,disp,qsec,wt,drat,mpg,hp for hoigh colinearity
cars_cor = cars_cor.drop(labels=['cyl','disp','qsec','wt','drat','mpg','hp'],axis=1)

In [9]:
cars_cor.corr()

            vs      gear      carb
vs    1.000000  0.206023 -0.569607
gear  0.206023  1.000000  0.274073
carb -0.569607  0.274073  1.000000

In [10]:
#car is automatic or manual  is my target
y = cars.am

In [11]:
X = cars_cor.loc[:,['vs','gear','carb',]]

In [12]:
#initializinng Logistic Regression model
model_logr = LogisticRegression()

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3,random_state=10)

In [14]:
X_train.shape

(22, 3)

In [15]:
X_test.shape

(10, 3)

In [16]:
#training the model
model_logr.fit(X_train,y_train)

LogisticRegression()

In [17]:
#testing the model
y_predicts = model_logr.predict(X_test)

In [18]:
y_predicts

array([0, 1, 0, 1, 0, 0, 0, 1, 0, 0], dtype=int64)

In [19]:
y_test

20    0
7     0
5     0
2     1
3     0
21    0
13    0
28    1
12    0
1     1
Name: am, dtype: int64

In [20]:
#accuracy test
print(classification_report(y_test,y_predicts))

              precision    recall  f1-score   support

           0       0.86      0.86      0.86         7
           1       0.67      0.67      0.67         3

    accuracy                           0.80        10
   macro avg       0.76      0.76      0.76        10
weighted avg       0.80      0.80      0.80        10

In [21]:
from sklearn.metrics import confusion_matrix

In [22]:
print(confusion_matrix(y_test,y_predicts))

[[6 1]
 [1 2]]